@font-face {
  font-family: "Cartridge";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Cartridge-Regular.otf") format("opentype"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cartridge";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Cartridge-Bold.otf") format("opentype"),
    url("/fonts/Cartridge-Bold.woff2") format("woff2"),
    url("/fonts/Cartridge-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iAWriterMonoS-Regular.eot") format("embedded-opentype"),
    url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-display: swap;
}

:root {
	--text: #162622;
	--links: #b51818;
	--links-visited: #6496c1;
	--bg-color: #f5f4f2;
  --bg-color-var: #f4e6da;
  --border-color: #ccc;
	--font-stack-mono: "iA Writer Mono", monospace;
  --font-stack-sans: "Avenir Next", Avenir, "-apple-system", BlinkMacSystemFont, "helvetica neue", Helvetica, Arial, sans-serif;
	--font-stack-titles: Cartridge, var(--font-stack-sans);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--text: #b9bfc6;
		--links: #72A9D4;
		--links-visited: #7a9bb7;
		--bg-color: #111920;
    --bg-color-var: #19150c;
    --border-color: #ccc;
	}
}

body {
  background: #f5f4f2 url(https://images.unsplash.com/photo-1509380247342-83d059a517a6?q=80&w=2100&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) repeat top left fixed;
  font-family: 'Avenir Next';
  background-size: cover;
  max-width: 48em;
}

h1, h2, h3, h4 {
  font-family: Cartridge;
}

time {
  font-family: var(--font-stack-mono);
  text-transform: uppercase;
}

h2 a:hover {
  color: var(--accent1);
  text-decoration: none;
}

.page-content, .site-header {
  background: var(--bg-color);
  border-radius: 2px;
	border: 1px solid transparent;
}

.page-content {
  padding: 2em;
}

.site-header {
  padding: 1em 2em 1em 2em;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all .4s ease;
}

a.post-date {
  color: var(--text);
}

.e-content a {
  color: var(--links);
  font-weight: 600;
}

.e-content a:visited {
  color: var(--links);
}

a:visited {
  color: var(--text);
}

nav a, nav a:visited, nav a:hover, a.conversation-on-mb, a.reply-on-mastodon, a.reply-by-email, a.read-more {
  color: var(--text);
  border: 1px solid var(--text);
}

nav a:hover, a.conversation-on-mb:hover, a.reply-on-mastodon:hover, a.reply-by-email:hover, a.read-more:hover {
  background: var(--text);
  color: var(--bg-color);
}

nav.site-nav .seuraa-blogia {
  border: 1px solid var(--link);
  color: var(--link);
}
nav.site-nav .seuraa-blogia:hover {
  background: var(--link);
  color: var(--button-text);
}

.site-nav ul {
  margin: 0;
}

nav ul li, ul.reply-buttons li {
  font-family: var(--font-stack-mono);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-nav .social-links a {
  line-height: 0.8;
}

.site-header {
  position: relative;
  margin-top: 8rem;
  padding-top: 3rem;
}

.site-header a .u-photo {
	position: absolute;
	top: -50px;
  background-color: var(--bg-color);
	padding: 5px;
}

.site-tagline {
  font-family: var(--font-stack-mono);
}

.site-title {
  margin-bottom: 0;
}

.site-title-with-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links svg {
  fill: var(--text)
}

article .p-summary a, article .post-content a, .category-list a, .post a {
  color: var(--links);
  font-weight: 600;
}

article .p-summary a:visited, article .post-content a:visited, .post a:visited {
  color: var(--links);
}

.category-list {
  list-style: none;
  padding: 0;
  column-count: 3;
}

.full-archives .u-url {
  font-size: 0.8em;
  color: var(--links);
  font-weight: 600;
}

.full-archives .h-entry {
  margin-bottom: 1rem;
}

.post_list article {
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 2rem;
}

.full-archives .h-entry {
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 1rem !important;
}

.full-archives .h-entry .p-summary {
  margin-bottom: 0;
}

.full-archives .h-entry .p-summary p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {

  body {
    padding: 0 0em;
    background-image: none;
    background: var(--bg-color-var) url(https://images.unsplash.com/photo-1705133843790-1b8b54e3c918?q=80&w=700&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  }
  .page-content, .site-header {
    padding: 2rem 1rem 0rem 1rem;
  }
  .site-header {
    margin-bottom: 0;
  }

  .description {
    margin-top: 1rem;
  }
}