{{ define "main" }}
<header class="post-header">
	<h2 class="post-title">Feed</h2>
</header>
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
{{ if gt (len $list) 0 }}
<div class="archive-categories">
	<h3>Posts by category</h3>
	<ul class="category-list">
		{{ range $list }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}
<div class="full-archives h-feed">
	<h3>Full feed</h3>
	{{ $list := (where .Site.RegularPages "Type" "post") }}
	{{ range $list }}

	<div class="h-entry">
		<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "02.01.2006 15:04:05 -0700" }}">{{ .Date | time.Format ":date_long" }}</time></a>:
		{{ if .Title }}
			<span class="p-name"><b>{{ .Title }}</b></span>
			<div class="p-summary">{{ .Summary | truncate 350 }}</div>
		{{ else }}
			<span class="p-summary">{{ .Summary | truncate 250 }}</span>
		{{ end }}
	</div>

	{{ end }}
</div>
{{ end }}
