<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-nav">
      <nav class="site-nav">
        <ul>
        {{ range .Site.Menus.main }}
          {{ if .Page.Params.redirect_url }}
            <li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
          {{ else }}
            <li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
        </ul>
      </nav>
      {{ partial "social-links.html" . }}
    </div>
    <p class="custom_footer">{{ partial "custom_footer.html" . }}</p>
    <p class="attribution custom_footer">Hosted by <a href="https://micro.blog">Micro.blog</a>. Designed with ♥ by <a href="https://www.mattlangford.com">Matt Langford</a>.</p>
  </div>

</footer>
