<header class="site-header">
	<a href="/"><img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="80" height="80"></a>
    <div class="site-title-with-links">
			<div class="site-title-tagline">
				<h1 class="site-title">
					<a class="p-name u-url" href="/">{{ .Site.Data.site.name }}</a>
				</h1>
				<a class="site-tagline" href="/">{{ .Site.Data.site.tagline }}</a>
			</div>
			<nav class="site-nav">
				<ul>
					<li>
						<a class="page-link seuraa-blogia" href="/seuraa/">Tilaa blogipäivitykset »</a>
					</li>
			</ul>
			</nav>
		</div>
    <p class="description">{{ .Site.Data.site.description }}</p>
    <div class="header-nav">
			<nav class="site-nav">
				<ul>
				{{ range .Site.Menus.main }}
					{{ if .Page.Params.redirect_url }}
						<li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
					{{ else }}
						<li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
					{{ end }}
				{{ end }}
				</ul>
			</nav>
			{{ partial "social-links.html" . }}
		</div>
</header>
